<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%> | MindMe collaboration</title>
</head>
<body>
<h1>Welcome </h1>
<p>
  This page is the first try for the development of a collaboration application
</p>
</body>
</html>