<% provide(:title, "Help")%>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%> | MindMe collaboration</title>
</head>
<body>
<h1>Welcome </h1>
<p>
  For further information please visit:
  <a href="www.mind-me.de/">MindMe</a>
</p>
</body>
</html>