<%provide(:title, "Home")%>
<!DOCTYPE html>
<html>
<head>
  <title><%=yield(:title)%> | MindMe collaboration</title>
</head>
<body>
<h1>Welcome </h1>
<p>
  This is the home page for the
  <a href="www.mind-me.de/">MindMe</a>
  collaboration application.
</p>
</body>
</html>